<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>rustc performance data</title>
    <link rel="stylesheet" type="text/css" href="perf.css">
    <link rel="alternate icon" type="image/png" href="/favicon-32x32.png">
    <link rel="icon" type="image/svg+xml" href="/favicon.svg">
    <style>
        ul li {
            margin: 0;
        }

        ul li input {
            vertical-align: middle;
            margin: 0 2px;

        }

        .section {
            display: flex;
            margin: 10px 0;
        }

        #commits {
            border: none;
            display: flex;
            padding: 0px;
        }

        .commit-input {
            width: 270px;
            display: flex;
            flex-direction: column;
        }

        .commit-input label {
            font-size: 12px;
            font-weight: bold;
            margin-bottom: 6px;
        }

        #metric {
            position: relative;
            height: 40px;
        }

        #stats {
            border-radius: 5px;
            width: 200px;
            font-size: 14px;
            margin-left: 52px;
        }

        #filters-toggle {
            cursor: pointer;
        }

        .section-heading {
            font-size: 16px;
        }

        #filters-content .section-heading {
            font-size: 16px;
        }

        #filters {
            border: 1px black;
            border-style: dotted;
            margin: 12px 0px;
            border-radius: 10px;
        }

        #filter {
            margin-left: 52px;
        }

        input {
            border-radius: 5px;
            font-size: 12px;
            height: 100%;
        }

        input[type="checkbox"] {
            height: auto;
        }

        #settings input[type=submit] {
            width: 100%;
            font-weight: bold;
            background: #ADD8E6;
        }

        .cache-label {
            font-weight: bold;
        }

        #states-list {
            display: flex;
            justify-content: space-around;
            align-items: center;
            width: 80%;
            list-style: none;
            margin: 0;
        }

        .tooltip {
            position: relative;
            border-radius: 50%;
            font-size: 12px;
            margin: 0 -4px;
            border: 1px solid #7d6969;
            width: 16px;
            text-align: center;
            font-weight: bold;
            background: #d6d3d3;
            cursor: pointer;
            display: inline-block;
        }

        .tooltip .tooltiptext {
            width: 180px;
            visibility: hidden;
            color: white;
            background-color: #524d4d;
            text-align: center;
            padding: 5px;
            border-radius: 6px;

            position: absolute;
            bottom: 125%;
            margin-left: -60px;

            opacity: 0;
            transition: opacity 0.3s;
        }

        .tooltip:hover .tooltiptext {
            visibility: visible;
            opacity: 1;
        }

        .description-box {
            border: 1px solid;
            display: flex;
        }

        .description-arrow {
            display: flex;
            flex-direction: column;
            justify-content: center;
            background: #8dcc8d;
            padding: 5px;
        }

        #not-continuous {
            display: flex;
            flex-direction: column;
            justify-content: center;
            text-align: center;
            background: #cc3300;
            border: 1px solid;
            cursor: help;
        }
    </style>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
</head>

<body class="container" style="max-width:800px">
    <div>&gt; <a href="index.html">graphs</a>, <a href="compare.html">compare</a>,
        <a href="dashboard.html">dashboard</a>, <a href="bootstrap.html">bootstrap</a>,
        <a href="status.html">status</a>, <a href="help.html">help</a>.
    </div>
    <br />
    <div id="app">
        <fieldset id="settings">
            <legend id="search-toggle" class="section-heading">Do another comparison<span
                    id="search-toggle-indicator"></span></legend>
            <div id="search-content">
                <div id="commits" class="section">
                    <div class="section-heading">Commits</div>
                    <div style="display: flex; width: 100%; justify-content: space-around;">
                        <div class="commit-input">
                            <label for="start-bound">Before</label>
                            <input width="100em" placeholder="YYYY-MM-DD or Commit SHA" id="start-bound" />
                        </div>
                        <div class="commit-input">
                            <label for="end-bound">After</label>
                            <input width="100em" placeholder="YYYY-MM-DD or Commit SHA" id="end-bound" />
                        </div>
                    </div>
                </div>
                <div id="metric" class="section">
                    <div class="section-heading" for="stats">Metric</div>
                    <div style="display: flex; flex-direction: column; justify-content: center;">
                        <select id='stats' name="stat"></select>
                    </div>
                </div>
                <input id="submit" type="submit" value="Submit" onclick="submitSettings(); return false;">
        </fieldset>
        <h2>Comparing <span id="stat-header">{{stat}}</span> between <span id="before">{{before}}</span> and
            <span id="after">{{after}}</span>
        </h2>
        <div v-if="data" style="margin: 12px 0;">
            <div style="display: flex;justify-content: center;">
                <div class="description-box">
                    <div class="description-arrow"><a v-if="data.prev" v-bind:href="prevLink">&larr;</a></div>
                    <div style="padding: 10px;">
                        <a v-if="data.a.pr" v-bind:href="prLink(data.a.pr)">#{{data.a.pr}}</a>
                        <span v-if="data.a.date">{{formatDate(data.a.date)}}</span>
                        (<a v-bind:href="commitLink(data.a.commit)">{{short(data.a)}}</a>)
                    </div>
                </div>
                <div v-if="notContinuous" id="not-continuous" title="WARNING! The commits are not continuous.">...
                </div>
                <div class="description-box">
                    <div style="padding: 10px;">
                        <a v-if="data.b.pr" v-bind:href="prLink(data.b.pr)">#{{data.b.pr}}</a>
                        <span v-if="data.b.date">{{formatDate(data.b.date)}}</span>
                        (<a v-bind:href="commitLink(data.b.commit)">{{short(data.b)}}</a>)
                    </div>
                    <div class="description-arrow"><a v-if="data.next" v-bind:href="nextLink">&rarr;</a></div>
                </div>
            </div>
            <div style="display: flex; justify-content: center;">
                <a v-bind:href="compareLink">🔎 compare commits</a>
            </div>
        </div>
        <fieldset id="filters">
            <legend id="filters-toggle" class="section-heading">Filters<span id="filters-toggle-indicator"></span>
            </legend>
            <div id="filters-content" style="display: none;">
                <div class="section">
                    <div class="section-heading">Filter by benchmark
                    </div>
                    <input id="filter" type="text" v-model="filter.name" />
                </div>
                <div class=" section">
                    <div class="section-heading">
                        <div style="width: 160px;">
                            <span>Cache states</span>
                            <span class="tooltip">?<span class="tooltiptext">
                                    Most benchmarks have at least 4 cache states for which we collect data</span>
                            </span>
                        </div>
                    </div>
                    <ul id="states-list">
                        <li><input type="checkbox" id="build-full" v-model="filter.cache.full" /><span
                                class="cache-label">full</span>
                            <div class="tooltip">?<span class="tooltiptext">A
                                    non-incremental full build starting with empty cache</span></div>
                        </li>
                        <li><input type="checkbox" id="build-incremental-full" v-model="filter.cache.incrFull" /> <span
                                class="cache-label">incr-full</span>
                            <div class="tooltip">?<span class="tooltiptext">An incremental build
                                    starting
                                    with empty cache
                                </span></div>
                        </li>
                        <li><input type="checkbox" id="build-incremental-unchanged"
                                v-model="filter.cache.incrUnchanged" />
                            <span class="cache-label">incr-unchanged</span>
                            <div class="tooltip">?<span class="tooltiptext">An
                                    incremental
                                    build
                                    starting with complete
                                    cache, and unchanged source directory -- the "perfect" scenario for
                                    incremental.</span>
                            </div>
                        </li>
                        <li><input type="checkbox" id="build-incremental-patched"
                                v-model="filter.cache.incrPatched" /><span class="cache-label">incr-patched</span>
                            <div class="tooltip">?<span class="tooltiptext">An incremental
                                    build
                                    starting with complete cache, and an
                                    altered source directory. The typical variant of this is "println" which represents
                                    the addition of a `println!` macro somewhere in the source code.</span></div>
                        </li>
                    </ul>
                </div>
                <div class="section">
                    <div class="section-heading"><span>Show only significant changes</span>
                        <span class="tooltip">?
                            <span class="tooltiptext">
                                Whether to filter out all benchmarks that do not show significant changes. A significant
                                change is any change above 0.2% for non-noisy benchmarks and 1.0% for noisy ones.
                            </span>
                        </span>
                    </div>
                    <input type="checkbox" v-model="filter.showOnlySignificant" style="margin-left: 20px;" />
                </div>
            </div>
        </fieldset>
        <div v-if="data" id="content" style="margin-top: 15px">
            <table class="compare" style="width: 80%; margin: 0 auto; font-size: medium !important;">
                <tbody>
                    <template v-for="bench in benches">
                        <tr data-field-start="true">
                            <th>
                                <details>
                                    <summary>{{ trimBenchName(bench.name) }}</summary>
                                </details>
                            </th>
                            <td>min: <span v-bind:class="percentClass(bench.minPct)">{{bench.minPct}}%</span></td>
                            <td>max: <span
                                    v-bind:class="percentClass(bench.maxPct)">{{bench.maxPct}}%{{isDodgyBench(bench)
                                    ? "?" : ""}}</span></td>
                            <td></td>
                        </tr>
                        <template v-for="run in bench.variants">
                            <tr>
                                <td>{{ run.casename }}</td>
                                <td>
                                    <a v-bind:href="detailedQueryLink(data.a.commit, bench.name, run.casename)">
                                        {{ run.datumA }}
                                    </a>
                                </td>
                                <td>
                                    <a v-bind:href="detailedQueryLink(data.b.commit, bench.name, run.casename)">
                                        {{ run.datumB }}
                                    </a>
                                </td>
                                <td>
                                    <a
                                        v-bind:href="percentLink(data.b.commit, data.a.commit, bench.name, run.casename)">
                                        <span v-bind:class="percentClass(run.percent)">
                                            {{ run.percent }}%{{run.isDodgy ? "?" : ""}}
                                        </span>
                                    </a>
                                </td>
                            </tr>
                        </template>
                    </template>
                </tbody>
            </table>
            <br />
            <table class="compare" v-if="data && data.a.bootstrap.length > 0">
                <tr>
                    <td colspan="4">bootstrap timings; variance is 1-3% on smaller benchmarks! Values in seconds.</td>
                </tr>
                <tr>
                    <th>total</th>
                    <th>{{bootstrapTotals.a.toFixed(3)}}</th>
                    <th>{{bootstrapTotals.b.toFixed(3)}}</th>
                </tr>
                <template v-for="bootstrap in bootstraps">
                    <tr data-field-start="true">
                        <th style="width: 19em;">{{bootstrap.name}}</th>
                        <td>{{bootstrap.a}}</td>
                        <td>{{bootstrap.b}}</td>
                        <td><span
                                v-bind:class="percentClass(bootstrap.percent)">{{bootstrap.percent.toFixed(1)}}%</span>
                        </td>
                    </tr>
                </template>
            </table>
        </div>
    </div>
    <br>
    <div id="as-of"></div>
    <a href="https://github.com/rust-lang-nursery/rustc-perf">
        <img style="position: absolute; top: 0; right: 0; border: 0;"
            src="https://camo.githubusercontent.com/38ef81f8aca64bb9a64448d0d70f1308ef5341ab/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f6461726b626c75655f3132313632312e706e67"
            alt="Fork me on GitHub"
            data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png">
    </a>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/msgpack-lite/0.1.26/msgpack.min.js"></script>
    <script src="shared.js"></script>
    <script>
        function findQueryParam(name) {
            if (!window.location.search) {
                return null;
            }
            let urlParams = window.location.search.substring(1).split("&").map(x => x.split("="));
            let pair = urlParams.find(x => x[0] === name)
            if (pair) {
                return unescape(pair[1]);
            }
        }
        let app = new Vue({
            el: '#app',
            data: {
                filter: {
                    name: null,
                    showOnlySignificant: true,
                    cache: {
                        full: true,
                        incrFull: true,
                        incrUnchanged: true,
                        incrPatched: true
                    }
                },
                data: null
            },
            computed: {
                notContinuous() {
                    return !this.data.is_contiguous;
                },
                prevLink() {
                    return `/compare.html?start=${this.data.prev}&end=${this.data.a.commit}`;
                },
                nextLink() {
                    return `/compare.html?start=${this.data.b.commit}&end=${this.data.next}`;
                },
                compareLink() {
                    return `https://github.com/rust-lang/rust/compare/${this.data.a.commit}...${this.data.b.commit}`;
                },
                benches() {
                    let data = this.data;
                    const filter = this.filter;

                    function shouldShowBuild(name) {
                        if (name === "full") {
                            return filter.cache.full;
                        } else if (name === "incr-full") {
                            return filter.cache.incrFull;
                        } else if (name === "incr-unchanged") {
                            return filter.cache.incrUnchanged;
                        } else if (name.startsWith("incr-patched")) {
                            return filter.cache.incrPatched;
                        } else {
                            // Unknown, but by default we should show things
                            return true;
                        }
                    }
                    function toVariants(name) {
                        let variants = [];
                        for (let d of data.a.data[name]) {
                            const key = d[0];
                            const datumA = d[1];
                            const datumB = data.b.data[name].find(x => x[0] == key)[1];
                            let percent = (100 * (datumB - datumA) / datumA).toFixed(1);
                            if (percent === "-0.0") {
                                percent = "0.0";
                            }

                            let isDodgy = false;
                            if (data.variance) {
                                let variance = data.variance[name + "-" + key];
                                isDodgy = !!(variance && variance.description && variance.description.type != "Normal");
                            }
                            if (shouldShowBuild(key)) {
                                variants.push({
                                    casename: key,
                                    datumA,
                                    datumB,
                                    percent,
                                    isDodgy,
                                });
                            }
                        }

                        return variants;
                    }

                    let benches =
                        Object.keys(data.a.data).
                            filter(n => filter.name && filter.name.trim() ? n.includes(filter.name.trim()) : true).
                            map(name => {
                                const variants = toVariants(name).filter(v => filter.showOnlySignificant ? isSignificant(v) : true);
                                const pcts = variants.map(field => parseFloat(field.percent));
                                const maxPct = Math.max(...pcts).toFixed(1);
                                const minPct = Math.min(...pcts).toFixed(1);
                                const maxCasenameLen = Math.max(...variants.map(f => f.casename.length));
                                return {
                                    name,
                                    variants,
                                    maxPct,
                                    minPct,
                                    maxCasenameLen,
                                };
                            }).
                            filter(b => b.variants.length > 0);

                    const largestChange = a => Math.max(Math.abs(a.minPct), Math.abs(a.maxPct));
                    benches.sort((a, b) => largestChange(b) - largestChange(a));

                    return benches;
                },
                bootstrapTotals() {
                    const sum = bootstrap => Object.entries(bootstrap).map(e => e[1] / 1e9).reduce((sum, next) => sum + next, 0);
                    const a = sum(this.data.a.bootstrap);
                    const b = sum(this.data.b.bootstrap);
                    return { a, b };
                },
                bootstraps() {
                    return Object.entries(this.data.a.bootstrap).map(e => {
                        const name = e[0];

                        const format = datum => datum.toLocaleString('en-US', { minimumFractionDigits: 3, maximumFractionDigits: 3 });
                        const a = format(e[1] / 1e9);
                        const b = format(this.data.b.bootstrap[name] / 1e9);
                        return {
                            name,
                            a,
                            b,
                            percent: 100 * (b - a) / a
                        };
                    }).sort((a, b) => Math.abs(b.percent) - Math.abs(a.percent));
                },
                before() {
                    if (!this.data) {
                        const start = findQueryParam("start");
                        return start ? start.substring(0, 7) : "???";
                    }
                    if (this.data.a.pr) {
                        return `#${this.data.a.pr}`;
                    }
                    if (this.data.a.date) {
                        return this.formatDate(this.data.a.date);
                    }

                    return this.data.a.commit.substring(0, 7);
                },
                after() {
                    if (!this.data) {
                        const end = findQueryParam("end");
                        return end ? end.substring(0, 7) : "???";
                    }

                    if (this.data.b.pr) {
                        return `#${this.data.b.pr}`;
                    }
                    if (this.data.b.date) {
                        return this.formatDate(this.data.b.date);
                    }

                    return this.data.b.commit.substring(0, 7);
                },
                stat() {
                    return findQueryParam("stat") || "instructions:u";
                }
            },
            methods: {
                short(comparison) {
                    return shortCommit(comparison.commit);
                },
                prLink(pr) {
                    return `https://github.com/rust-lang/rust/pull/${pr}`;
                },
                percentClass(pct) {
                    let klass = "";
                    if (pct > 1) {
                        klass = 'positive';
                    } else if (pct > 0.1) {
                        klass = 'slightly-positive';
                    } else if (pct < -1) {
                        klass = 'negative';
                    } else if (pct < -0.1) {
                        klass = 'slightly-negative';
                    }
                    return klass;

                },
                detailedQueryLink(commit, bench, run) {
                    return `/detailed-query.html?commit=${commit}&benchmark=${bench}&run_name=${run}`;
                },
                percentLink(commit, baseCommit, bench, run) {
                    return `/detailed-query.html?commit=${commit}&base_commit=${baseCommit}&benchmark=${bench}&run_name=${run}`;
                },
                commitLink(commit) {
                    return `https://github.com/rust-lang/rust/commit/${commit}`;
                },
                formatDate(date) {
                    date = new Date(date);
                    function padStr(i) {
                        return (i < 10) ? "0" + i : "" + i;
                    }

                    return `${date.getUTCFullYear()}-${padStr(date.getUTCMonth() + 1)}-${padStr(date.getUTCDate())} `;
                },
                trimBenchName(name) {
                    let result = name.substring(0, 25)
                    if (result != name) {
                        result = result + "...";

                    }
                    return result;
                },
            },
        });

        function isSignificant(variant) {
            const percent = Math.abs(variant.percent);
            if (variant.isDodgy) {
                return percent > 1.0;
            } else {
                return percent > 0.2;
            }

        }

        function toggleFilters(id, toggle) {
            let styles = document.getElementById(id).style;
            let indicator = document.getElementById(toggle);
            if (styles.display != "none") {
                indicator.innerHTML = " ▶"
                styles.display = "none";
            } else {
                indicator.innerHTML = " ▼"
                styles.display = "block";
            }
        }
        toggleFilters("filters-content", "filters-toggle-indicator");
        toggleFilters("search-content", "search-toggle-indicator");

        document.getElementById("filters-toggle").onclick = (e) => {
            toggleFilters("filters-content", "filters-toggle-indicator");
        };
        document.getElementById("search-toggle").onclick = (e) => {
            toggleFilters("search-content", "search-toggle-indicator");
        };

        function unique(arr) {
            return arr.filter((value, idx) => arr.indexOf(value) == idx);
        }

        function shortCommit(commit) {
            return commit.substring(0, 8);
        }

        function makeData(state) {
            let values = Object.assign({}, {
                start: "",
                end: "",
                stat: "instructions:u",
            }, state);
            makeRequest("/get", values).then(function (data) {
                app.data = data;
            });
        }


        function submitSettings() {
            let start = document.getElementById("start-bound").value;
            let end = document.getElementById("end-bound").value;
            let stat = getSelected("stats");
            let params = new URLSearchParams();
            params.append("start", start);
            params.append("end", end);
            params.append("stat", stat);
            window.location.search = params.toString();
        }

        loadState(makeData);
    </script>
</body>

</html>