<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>rustc performance data</title>
  <link rel="alternate icon" type="image/png" href="/favicon-32x32.png">
  <link rel="icon" type="image/svg+xml" href="/favicon.svg">
  <link rel="stylesheet" type="text/css" href="styles/shared.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {% block head %}{% endblock %}
</head>
<body class="container">
  <div>&gt; <a href="index.html">graphs</a>, <a href="compare.html">compare</a>,
    <a href="dashboard.html">dashboard</a>, <a href="bootstrap.html">bootstrap</a>,
    <a href="status.html">status</a>, <a href="help.html">help</a>.
  </div>
  {% block content %}{% endblock %}
  <div style="text-align: center;">
    <a href="https://github.com/rust-lang/rustc-perf">Contribute on GitHub</a>
  </div>
  {% block script %}{% endblock %}
</body>
</html>
