body {
    max-width: 800px;
    margin: 2% auto;
}

#app {
    margin: 0 2%;
}

ul li {
    margin: 0;
}

ul li input {
    vertical-align: middle;
    margin: 0 2px;

}

.toggle-indicator {
    cursor: pointer;
}

.section {
    display: flex;
    margin: 10px 0;
}

.section-heading {
    font-size: 16px;
}

#filters-content .section-heading {
    font-size: 16px;
}

.collapsible-section {
    border: 1px black;
    border-style: dotted;
    margin: 12px 0px;
    border-radius: 10px;
}

#filter {
    margin-left: 52px;
}

input {
    border-radius: 5px;
    font-size: 12px;
    height: 100%;
}

input[type="checkbox"] {
    height: auto;
}

.cache-label {
    font-weight: bold;
}

.states-list {
    display: flex;
    flex-direction: column;
    align-items: start;
    list-style: none;
    margin: 0;
    padding: 0;
}
.section-list-wrapper {
    flex-direction: column;
}

@media (min-width: 760px) {
    .states-list {
        justify-content: start;
        flex-direction: row;
        align-items: center;
        width: 80%;
    }
    .section-list-wrapper {
        flex-direction: row;
    }
}
.states-list > li {
    margin-right: 15px;
}

.tooltip {
    position: relative;
    border-radius: 50%;
    font-size: 12px;
    margin: 0 4px;
    border: 1px solid #7d6969;
    width: 16px;
    text-align: center;
    font-weight: bold;
    background: #d6d3d3;
    cursor: pointer;
    display: inline-block;
}

.tooltip .tooltiptext {
    width: 180px;
    visibility: hidden;
    color: white;
    background-color: #524d4d;
    text-align: center;
    padding: 5px;
    border-radius: 6px;

    position: absolute;
    bottom: 125%;
    margin-left: -60px;

    opacity: 0;
    transition: opacity 0.3s, visibility 0.3s;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

.benches {
    font-size: medium;
}

.benches tbody::before {
    content: '';
    display: block;
    height: 10px;
}

.benches tbody:first-child th {
    text-align: center;
}

.benches tbody:not(:first-child) th {
    border-right: dotted 1px;
}

.benches th {
    text-align: center;
    width: 25%;
    min-width: 50px;
}
.benches td {
    text-align: center;
    width: 25%;
}
.benches td.numeric {
    text-align: right;
}

.benchmark-name {
    text-align: center;
}

.bench-table {
    margin-top: 10px;
}

#main-summary {
    border: 1px dashed;
    padding: 4px;
    border-radius: 6px;

    display: flex;
    justify-content: center;
    position: relative;
}

.summary-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}
.summary {
    display: flex;
}
.summary-values {
    display: flex;
    flex-direction: column;
}
@media (min-width: 650px) {
    .summary-container {
        flex-direction: row;
        margin-bottom: 0;
        align-items: center;
    }
    .summary-container > span {
        text-align: right;
        width: 20%;
    }
    .summary-values {
        width: 100%;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
    }
    .summary {
        width: 15%;
        align-items: center;
    }
    .summary-wide {
        width: 20%;
    }
}
.category-title {
    font-weight: bold;
    font-size: 1.2em;
    margin: 10px;
    text-align: center;
}

.silent-link {
    color: inherit;
}

.quick-links {
    display: flex;
    flex-direction: row;
    margin: 10px 0;
}
.quick-links div {
    margin-right: 10px;
}
.quick-links .active {
    font-weight: bold;
}

.summary-table th {
    text-align: center;
}
.summary-table td, .summary-table th {
    padding: 2px 5px;
    vertical-align: middle;
}

.aggregation-section > .header {
    margin-top: 5px;
    font-size: 16px;
    text-align: center;
}
.aggregation-section > .groups {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.aggregation-section .group {
    min-width: 45%;
    border: 1px dotted black;
    padding: 5px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.aggregation-section .group-header {
    margin-bottom: 5px;
    font-weight: bold;
}
