body {
    max-width: 800px;
    margin: 2% auto;
}

#app {
    margin: 0 2%;
}

ul li {
    margin: 0;
}

ul li input {
    vertical-align: middle;
    margin: 0 2px;

}

.toggle-indicator {
    cursor: pointer;
}

.section {
    display: flex;
    margin: 10px 0;
}

.section-heading {
    font-size: 16px;
}

.collapsible-section {
    border: 1px black;
    border-style: dotted;
    margin: 12px 0px;
    border-radius: 10px;
}

input {
    border-radius: 5px;
    font-size: 12px;
    height: 100%;
}

input[type="checkbox"] {
    height: auto;
}

.benches {
    font-size: medium;
}

.benches tbody::before {
    content: '';
    display: block;
    height: 10px;
}

.benches tbody:first-child th {
    text-align: center;
}

.benches tbody:not(:first-child) th {
    border-right: dotted 1px;
}

.benches th {
    text-align: center;
    width: 25%;
    min-width: 50px;
}
.benches td {
    text-align: center;
    width: 25%;
}
.benches td.numeric {
    text-align: right;
}

.benchmark-name {
    text-align: center;
}

.bench-table {
    margin-top: 10px;
}

.summary-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}
.summary {
    display: flex;
}
.summary-values {
    display: flex;
    flex-direction: column;
}
@media (min-width: 650px) {
    .summary-container {
        flex-direction: row;
        margin-bottom: 0;
        align-items: center;
    }
    .summary-container > span {
        text-align: right;
        width: 20%;
    }
    .summary-values {
        width: 100%;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
    }
    .summary {
        width: 15%;
        align-items: center;
    }
    .summary-wide {
        width: 20%;
    }
}
.category-title {
    font-weight: bold;
    font-size: 1.2em;
    margin: 10px;
    text-align: center;
}

.silent-link {
    color: inherit;
}
