{% extends "layout.html" %}
{% block head %}
<style>
    table {
        border-collapse: collapse;
    }

    thead th {
        padding-left: 1em;
    }

    body.hide-incr .incr {
        display: none;
    }

    body.hide-delta .delta {
        display: none;
    }

    #primary-table td,
    #primary-table th {
        padding-left: 1.5em;
        white-space: pre;
    }

    #primary-table tr:nth-child(2n+1) {
        background-color: #F9F9F9;
    }

    #primary-table tr:nth-child(1) {
        background-color: #eee;
        font-weight: bold;
        border-top: 1px solid black;
        border-bottom: 1px solid black;
    }

    [data-sort-idx]::after {
        content: "⇕";
    }

    [data-sorted-by="desc"]::after {
        content: "▲";
    }

    [data-sorted-by="asc"]::after {
        content: "▼";
    }

    /* Per MDN -- https://developer.mozilla.org/en-US/docs/Web/HTML/Element/code */
    code {
        background-color: #eee;
        border-radius: 3px;
        user-select: all;
    }

    #artifact-table th {
        text-align: center;
    }

    #artifact-table td {
        padding: 0 0 0 20px;
    }
</style>
{% endblock %}
{% block content %}
<div>
    <div id="content">
        <h3 id="title"></h3>
        <div id="raw-urls"></div>
        <h4>Artifact Size</h4>
        <table id="artifact-table">
            <thead>
                <tr>
                    <th>Artifact</th>
                    <th>Size</th>
                    <th>Size delta</th>
                </tr>
            </thead>
            <tbody id="artifact-body">
            </tbody>
        </table>
        <p>'Instructions (%)' is the percentage of instructions executed on this query.</p>
        <p>Executions do not include cached executions.</p>
        <table>
            <thead>
                <tr id="table-header">
                    <th data-sort-idx="1" data-default-sort-dir="1">Query/Function</th>
                    <th data-sort-idx="10" data-default-sort-dir="-1">Instructions (%)</th>
                    <th data-sort-idx="2" data-default-sort-dir="-1">Instructions</th>
                    <th data-sort-idx="11" data-default-sort-dir="-1" class="delta">Instructions delta</th>
                    <th data-sort-idx="5" data-default-sort-dir="-1">Executions</th>
                    <th data-sort-idx="12" data-default-sort-dir="-1" class="delta">Executions delta</th>
                    <th class="incr" data-sort-idx="7" data-default-sort-dir="-1" title="Incremental loading instructions">
                        Incremental loading instructions</th>
                    <th class="incr delta" data-sort-idx="13" data-default-sort-dir="-1">Incremental loading delta</th>
                </tr>
            </thead>
            <tbody id="primary-table">
            </tbody>
        </table>
    </div>
</div>
{% endblock content %}
{% block script %}
<script src="scripts/detailed-query.js"></script>
{% endblock script %}
