(site_common) {
  encode zstd gzip
  reverse_proxy 127.0.0.1:${container_port}
}

http://${public_ip} {
  import site_common
}
%{ if public_hostname != "" ~}
${public_hostname} {
  import site_common
}
%{ endif ~}
