AWS_REGION=${aws_region}
RUSTC_PORT=${container_port}
RUSTC_PERF_DATA_DIR=${data_mount_path}
RUSTC_PERF_DB_FILENAME=${db_filename}
RUSTC_PERF_IMAGE_REF=${site_image_ref}
RUSTC_PERF_CONTAINER_NAME=rustc-perf-site
RUSTC_PERF_RUNTIME_UID=${container_runtime_uid}
RUSTC_PERF_RUNTIME_GID=${container_runtime_gid}
RUSTC_PERF_BACKUP_BUCKET=${backup_bucket_name}
RUSTC_PERF_BACKUP_PREFIX=${backup_prefix}
