{% extends "layout.html" %}
{% block head %}
<link rel="stylesheet" href="uPlot.min.css">
<style>
    .uplot {
        display: inline-block;
        vertical-align: top;
        width: min-content;
    }

    .u-over {
        box-shadow: 0px 0px 0px 0.5px #ccc;
    }

    .u-legend {
        text-align: left;
        padding-left: 50px;
    }

    .u-inline tr {
        margin-right: 8px;
    }

    .u-label {
        font-size: 12px;
    }

    .u-tooltip {
        font-size: 10pt;
        position: absolute;
        background: #fff;
        display: none;
        border: 2px solid black;
        padding: 4px;
        pointer-events: none;
        z-index: 100;
        white-space: pre;
        font-family: monospace;
    }

    body {
        padding: 1em;
        margin: 0;
    }
</style>
{% endblock %}
{% block content %}
<div>
  <div id="settings">
    start: <input placeholder="yyyy-mm-dd or commit" id="start-bound"/>
    end: <input placeholder="yyyy-mm-dd or commit" id="end-bound"/>
    Graph kind: <select id='kind' name="kind">
    <option selected="selected" value="raw">Raw</option>
    <option value="percentfromfirst">Percent Delta from First</option>
    <option value="percentrelative">Percent Delta from Previous</option>
  </select>
    <select id='stats' name="stat"></select>
    <a href="#" onClick="submit_settings(); return false;">Submit</a>
  </div>
  <div>
    See <a href="/compare.html">compare page</a> for descriptions of what
    the names mean.
  </div>
  <div>
    <strong>Note:</strong> pink in the graphs represent data points that are interpolated
    due to missing data. Interpolated data is simply the last known data point repeated until
    another known data point is found.
  </div>
  <div id="loading">
    <h2>Loading &amp; rendering data..</h2>
    <h3>This may take a while!</h3>
  </div>
  <div id="charts"></div>
  <div id="as-of"></div>
  <a href="https://github.com/rust-lang-nursery/rustc-perf">
    <img
        style="position: absolute; top: 0; right: 0; border: 0; clip-path: polygon(8% 0%, 100% 92%, 100% 0%);"
        src="https://camo.githubusercontent.com/38ef81f8aca64bb9a64448d0d70f1308ef5341ab/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f6461726b626c75655f3132313632312e706e67"
        alt="Fork me on GitHub"
        data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png">
  </a>
</div>
{% endblock %}
{% block script %}
<script src="uPlot.iife.min.js"></script>
<script src="shared.js"></script>
<script src="scripts/graphs.js"></script>
{% endblock %}
